## Importing necessary libraries

In [20]:
import pandas as pd
import numpy as np
import mlxtend
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder

## Loading the Data

In [21]:
df = pd.read_csv('GroceryStoreDataSet.csv', names = ['Products'], sep = ',')

In [22]:
df.head()

                        Products
0             MILK,BREAD,BISCUIT
1  BREAD,MILK,BISCUIT,CORNFLAKES
2            BREAD,TEA,BOURNVITA
3           JAM,MAGGI,BREAD,MILK
4              MAGGI,TEA,BISCUIT

In [23]:
df.shape

(20, 1)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Products  20 non-null     object
dtypes: object(1)
memory usage: 288.0+ bytes

In [25]:
df.values

array([['MILK,BREAD,BISCUIT'],
       ['BREAD,MILK,BISCUIT,CORNFLAKES'],
       ['BREAD,TEA,BOURNVITA'],
       ['JAM,MAGGI,BREAD,MILK'],
       ['MAGGI,TEA,BISCUIT'],
       ['BREAD,TEA,BOURNVITA'],
       ['MAGGI,TEA,CORNFLAKES'],
       ['MAGGI,BREAD,TEA,BISCUIT'],
       ['JAM,MAGGI,BREAD,TEA'],
       ['BREAD,MILK'],
       ['COFFEE,COCK,BISCUIT,CORNFLAKES'],
       ['COFFEE,COCK,BISCUIT,CORNFLAKES'],
       ['COFFEE,SUGER,BOURNVITA'],
       ['BREAD,COFFEE,COCK'],
       ['BREAD,SUGER,BISCUIT'],
       ['COFFEE,SUGER,CORNFLAKES'],
       ['BREAD,SUGER,BOURNVITA'],
       ['BREAD,COFFEE,SUGER'],
       ['BREAD,COFFEE,SUGER'],
       ['TEA,MILK,COFFEE,CORNFLAKES']], dtype=object)

In [26]:
data = list(df["Products"].apply(lambda x:x.split(',')))

In [27]:
data

[['MILK', 'BREAD', 'BISCUIT'],
 ['BREAD', 'MILK', 'BISCUIT', 'CORNFLAKES'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['JAM', 'MAGGI', 'BREAD', 'MILK'],
 ['MAGGI', 'TEA', 'BISCUIT'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['MAGGI', 'TEA', 'CORNFLAKES'],
 ['MAGGI', 'BREAD', 'TEA', 'BISCUIT'],
 ['JAM', 'MAGGI', 'BREAD', 'TEA'],
 ['BREAD', 'MILK'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'COCK'],
 ['BREAD', 'SUGER', 'BISCUIT'],
 ['COFFEE', 'SUGER', 'CORNFLAKES'],
 ['BREAD', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['TEA', 'MILK', 'COFFEE', 'CORNFLAKES']]

## One-Hot Encoding

### As seen below, the algorithm should be transformed as True/False or 1/0. That is, the list is converted to a list of one-hot encoded boolean.

In [28]:
myEncoding = TransactionEncoder()
myEncoding_data = myEncoding.fit(data).transform(data)
df = pd.DataFrame(myEncoding_data,columns=myEncoding.columns_)
df.head()

,BISCUIT,BOURNVITA,BREAD,COCK,COFFEE,CORNFLAKES,JAM,MAGGI,MILK,SUGER,TEA
0,True,False,True,False,False,False,False,False,True,False,False
1,True,False,True,False,False,True,False,False,True,False,False
2,False,True,True,False,False,False,False,False,False,False,True
3,False,False,True,False,False,False,True,True,True,False,False
4,True,False,False,False,False,False,False,True,False,False,True

In [29]:
df.sum()

BISCUIT        7
BOURNVITA      4
BREAD         13
COCK           3
COFFEE         8
CORNFLAKES     6
JAM            2
MAGGI          5
MILK           5
SUGER          6
TEA            7
dtype: int64

In [30]:
df = apriori(df,min_support=0.1,use_colnames=True,verbose=1)

Processing 108 combinations | Sampling itemset size 4

In [31]:
df

    support                             itemsets
0      0.35                            (BISCUIT)
1      0.20                          (BOURNVITA)
2      0.65                              (BREAD)
3      0.15                               (COCK)
4      0.40                             (COFFEE)
5      0.30                         (CORNFLAKES)
6      0.10                                (JAM)
7      0.25                              (MAGGI)
8      0.25                               (MILK)
9      0.30                              (SUGER)
10     0.35                                (TEA)
11     0.20                     (BREAD, BISCUIT)
12     0.10                      (COCK, BISCUIT)
13     0.10                    (COFFEE, BISCUIT)
14     0.15                (BISCUIT, CORNFLAKES)
15     0.10                     (MAGGI, BISCUIT)
16     0.10                      (MILK, BISCUIT)
17     0.10                       (TEA, BISCUIT)
18     0.15                   (BREAD, BOURNVITA)
19     0.10                   (SUGER, BOURNVITA)
20     0.10                     (TEA, BOURNVITA)
21     0.15                      (COFFEE, BREAD)
22     0.10                         (BREAD, JAM)
23     0.15                       (BREAD, MAGGI)
24     0.20                        (BREAD, MILK)
25     0.20                       (BREAD, SUGER)
26     0.20                         (TEA, BREAD)
27     0.15                       (COFFEE, COCK)
28     0.10                   (COCK, CORNFLAKES)
29     0.20                 (COFFEE, CORNFLAKES)
30     0.20                      (COFFEE, SUGER)
31     0.10                   (MILK, CORNFLAKES)
32     0.10                    (TEA, CORNFLAKES)
33     0.10                         (MAGGI, JAM)
34     0.20                         (TEA, MAGGI)
35     0.10               (BREAD, MILK, BISCUIT)
36     0.10              (COFFEE, COCK, BISCUIT)
37     0.10          (COCK, BISCUIT, CORNFLAKES)
38     0.10        (COFFEE, BISCUIT, CORNFLAKES)
39     0.10                (TEA, MAGGI, BISCUIT)
40     0.10              (TEA, BREAD, BOURNVITA)
41     0.10               (COFFEE, BREAD, SUGER)
42     0.10                  (BREAD, MAGGI, JAM)
43     0.10                  (TEA, BREAD, MAGGI)
44     0.10           (COFFEE, COCK, CORNFLAKES)
45     0.10  (COFFEE, COCK, BISCUIT, CORNFLAKES)

In [32]:
# Sorting
df.sort_values(by="support",ascending=False)

    support                             itemsets
2      0.65                              (BREAD)
4      0.40                             (COFFEE)
0      0.35                            (BISCUIT)
10     0.35                                (TEA)
5      0.30                         (CORNFLAKES)
9      0.30                              (SUGER)
7      0.25                              (MAGGI)
8      0.25                               (MILK)
30     0.20                      (COFFEE, SUGER)
34     0.20                         (TEA, MAGGI)
11     0.20                     (BREAD, BISCUIT)
29     0.20                 (COFFEE, CORNFLAKES)
26     0.20                         (TEA, BREAD)
25     0.20                       (BREAD, SUGER)
24     0.20                        (BREAD, MILK)
1      0.20                          (BOURNVITA)
21     0.15                      (COFFEE, BREAD)
27     0.15                       (COFFEE, COCK)
23     0.15                       (BREAD, MAGGI)
3      0.15                               (COCK)
18     0.15                   (BREAD, BOURNVITA)
14     0.15                (BISCUIT, CORNFLAKES)
19     0.10                   (SUGER, BOURNVITA)
44     0.10           (COFFEE, COCK, CORNFLAKES)
43     0.10                  (TEA, BREAD, MAGGI)
42     0.10                  (BREAD, MAGGI, JAM)
41     0.10               (COFFEE, BREAD, SUGER)
40     0.10              (TEA, BREAD, BOURNVITA)
39     0.10                (TEA, MAGGI, BISCUIT)
38     0.10        (COFFEE, BISCUIT, CORNFLAKES)
37     0.10          (COCK, BISCUIT, CORNFLAKES)
36     0.10              (COFFEE, COCK, BISCUIT)
35     0.10               (BREAD, MILK, BISCUIT)
32     0.10                    (TEA, CORNFLAKES)
33     0.10                         (MAGGI, JAM)
20     0.10                     (TEA, BOURNVITA)
31     0.10                   (MILK, CORNFLAKES)
6      0.10                                (JAM)
12     0.10                      (COCK, BISCUIT)
28     0.10                   (COCK, CORNFLAKES)
13     0.10                    (COFFEE, BISCUIT)
15     0.10                     (MAGGI, BISCUIT)
16     0.10                      (MILK, BISCUIT)
17     0.10                       (TEA, BISCUIT)
22     0.10                         (BREAD, JAM)
45     0.10  (COFFEE, COCK, BISCUIT, CORNFLAKES)

In [33]:
# Using the Associan rule function - confidence values are more than 0.4.
df_rules = association_rules(df, metric = "confidence", min_threshold = 0.4)
df_rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(BISCUIT),(BREAD),0.35,0.65,0.20,0.571429,0.879121,-0.0275,0.816667
1,(COCK),(BISCUIT),0.15,0.35,0.10,0.666667,1.904762,0.0475,1.950000
2,(BISCUIT),(CORNFLAKES),0.35,0.30,0.15,0.428571,1.428571,0.0450,1.225000
3,(CORNFLAKES),(BISCUIT),0.30,0.35,0.15,0.500000,1.428571,0.0450,1.300000
4,(MAGGI),(BISCUIT),0.25,0.35,0.10,0.400000,1.142857,0.0125,1.083333
...,...,...,...,...,...,...,...,...,...
70,"(COFFEE, CORNFLAKES)","(COCK, BISCUIT)",0.20,0.10,0.10,0.500000,5.000000,0.0800,1.800000
71,"(COCK, BISCUIT)","(COFFEE, CORNFLAKES)",0.10,0.20,0.10,1.000000,5.000000,0.0800,inf
72,"(COCK, CORNFLAKES)","(COFFEE, BISCUIT)",0.10,0.10,0.10,1.000000,10.000000,0.0900,inf
73,"(BISCUIT, CORNFLAKES)","(COFFEE, COCK)",0.15,0.15,0.10,0.666667,4.444444,0.0775,2.550000
74,(COCK),"(COFFEE, BISCUIT, CORNFLAKES)",0.15,0.10,0.10,0.666667,6.666667,0.0850,2.700000